.cartSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border-radius: 5px 5px 0px 0px;
  background: #f5f5f5;
  list-style: none;
  height: max-content;
}
.ulCart {
  padding: 0px 15px;
  width: 100%;
}

.tituloCarrinho {
  padding: 0px 10px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  min-height: 50px;
  color: white;
  margin: 0%;
  background: #27ae60;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}

.emptyCart {
  margin-bottom: 0%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 16px;
  top: 585px;
  background: #f5f5f5;
  border-radius: 5px 5px 0px 0px;
}

.emptyBag {
  font-size: 18px;
}
.addSpan {
  font-size: 12px;
  color: #828282;
}

@media (min-width: 550px) {
  .cartSection {
    width: 28%;
    padding: 2px;
  }
}
